html, body {
	height: 100%;
	width: 100%;
	padding: 0;
	margin: 0;
}

#presentation {
	height: 100%;
	width: 100%;
}

#presentation h1 {
	font-size: 2em;
}

#presentation article {
	visibility: hidden;
	height: 100%;
	width: 100%;
	position: absolute;
	left: 0;
	top: 0;
	opacity: 1;
	z-index: 0;
	overflow: hidden;
}

#presentation article.active {
	visibility: visible;
}

#presentation article h1 {
	font-size: 2em;
}

#controls {
	position: absolute;
	bottom: 0;
	right: 0;
	z-index: 2;
}

#controls ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

#controls ul li {
	display: inline-block;
	
}

#controls ul li button {
	cursor: pointer;
	
}